h1{
    text-align: center;
}

.container {
    display:grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fit, 250px);

}

.card{
    background-color: aqua;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around ;
    border: 2px solid darkblue;
}

.read{
    display: flex;
    align-items: center;
}

.card  button:first-child{
    align-self: flex-end;
}

.newbook {
    display: flex;
    justify-content: center;
}

.newbook button{
    margin: 40px;
    height: 40px;
}

form >div{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 300px;
    row-gap: 5px;
}

form {
    display: flex;
    justify-content: center;
}
form > div >div{
    display: flex;
    justify-content: space-between;
    width: 100%;
}